[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "proPubBills"]
	path = proPubBills
	url = https://github.com/nadinesk/propubbills
	shallow = true
	registered = true
